<div class="main-cnt">
  <!-- <div class="main-title-cnt">
  <h1 class="main-title">Angular planets</h1>
</div> -->
  <div class="container">
    <div class="row">
      <div class="col">
        <app-menu-cont></app-menu-cont>
      </div>
      <div class="col">
        <!-- <router-outlet> -->
        <app-profile *ngIf="selectedCharacter; else infoText" [character]="selectedCharacter"></app-profile>
        <!-- </router-outlet> -->

        <ng-template #infoText>
          <p>Please select a Planet</p>
        </ng-template>

      </div>
    </div>
  </div>
</div>
