<mat-paginator [length]="planets.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event">
</mat-paginator>

<div *ngIf="!pageEvent">
  <div class="planets">
    <div class="planets-cnt" *ngFor="let planet of planets | slice: (1-1) * 10 : (1-1) * 10 + 10">
      <a [routerLink]="['/planet', planet.name]" class="col-1-4">
        <h4 class="module planet">{{ planet.name }}</h4>
      </a>
    </div>
  </div>
</div>

<div *ngIf="pageEvent">
  <div *ngIf="allPlanets.length != 61">
    <div class="planets">
      <div class="planets-cnt"
        *ngFor="let planet of planets | slice: (pageEvent.pageIndex)*pageEvent.pageSize : (pageEvent.pageIndex)*pageEvent.pageSize+pageEvent.pageSize">
        <!-- <li *ngFor="let planet of planets | angularPaginator: { currentPage: currentPage }; let i = index"> -->
        <a [routerLink]="['/planet', planet.name]" class="col-1-4">
          <h4 class="module planet">{{ planet.name }}</h4>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="allPlanets.length == 61">
    <!-- <ngb-pagination class="paginator" [(collectionSize)]="allPlanets.length"  [ellipses]="false"[(pageSize)]="pageSize" [(page)]="page" [maxSize]="8" [rotate]="true" aria-label="Default pagination"></ngb-pagination> -->
    <div class="planets">
      <div class="planets-cnt"
        *ngFor="let planet of allPlanets | slice: (pageEvent.pageIndex)*pageEvent.pageSize : (pageEvent.pageIndex)*pageEvent.pageSize+pageEvent.pageSize">
        <!-- <li *ngFor="let planet of planets | angularPaginator: { currentPage: currentPage }; let i = index"> -->
        <a [routerLink]="['/planet', planet.name]" class="col-1-4">
          <h4 class="module planet">{{ planet.name }}</h4>
        </a>
      </div>
    </div>
  </div>

</div>
