<div class="profile-cnt">
<h1>{{ character.name }}</h1>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        rotation_period
        <span class="badge badge-primary badge-pill">{{ character.rotation_period }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        orbital_period
        <span class="badge badge-primary badge-pill">{{ character.orbital_period }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        diameter
        <span class="badge badge-primary badge-pill">{{ character.diameter }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        climate
        <span class="badge badge-primary badge-pill">{{ character.climate }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        gravity
        <span class="badge badge-primary badge-pill">{{ character.gravity }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        terrain
        <span class="badge badge-primary badge-pill">{{ character.terrain }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        surface_water
        <span class="badge badge-primary badge-pill">{{ character.surface_water }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        population
        <span class="badge badge-primary badge-pill">{{ character.population }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        residents
        <span class="badge badge-primary badge-pill">{{ character.residents.length }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        films
        <span class="badge badge-primary badge-pill">{{ character.films.length }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        created
        <span class="badge badge-primary badge-pill">{{ character.created }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        edited
        <span class="badge badge-primary badge-pill">{{ character.edited }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        url
        <span class="badge badge-primary badge-pill">{{ character.url }}</span>
      </li>
    </ul>
</div>
